/*/events/index*/
.events-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
}

/* /events/show */
.events-show form {
    display: inline;
  }
.event-item {
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    overflow: hidden;
  }

  .post-menus {
    
  }